# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# App Configuration
SESSION_SECRET=some-random-secret
APP_URL=https://ais-dev-tffdqwoptonszjiieot76t-65167605087.asia-east1.run.app
